.jumbotron {
	/*padding: 2rem 1rem;*/
	padding-top: 6rem;
	background-color: #9932CC;
	/*background-color: darkorchid*/
}

#projects {
	background-color: #9932CC;
	/*background-color: darkorchid*/
}

section {
	padding-top: 5rem;
}